#content{
    margin: 0 auto;
    width: 50%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
header{
    display: grid;
    grid-template-columns: 30% 70%;
    background-color:rgb(3, 3, 49);
    color: white;
    font-size: 24 pt;
    text-align: center;
    align-items: center;
}
main{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
footer{
    background-color:rgb(3, 3, 49);
    color: white;
    text-align: center;
}
#datediv{
    color:yellow;
}