/* .content {
    text-align: center;
    font-size: large;
    background-color: #b4b269;
    margin: auto;
} */
main div{
    background-color: #b4b269;
}
header {
    display: grid;
    grid-template-columns: 1fr  1fr 3fr;
    background-color: #80316A;
    /* text-align: center; */
}

header h1 {
    margin: auto;
    color: #E3B445;
    font-weight: bolder;
    font-family: "Merriweather", serif;
    padding-left: .25em;
}
.logo {
    height: 100%;
    max-height: 85px;
    max-width: 100%;
}

.active {
    background-color: #E3B445;
    color: #80316A;
}
a {
    text-decoration: none;
}
nav a {
    color: #E3B445;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end
}

nav ul li a {
    border: none;
    border-right: 1px solid rgba(0,0,0,1);
    border-left: 1px solid rgba(0,0,0,1);
    padding: .5em;
}

nav li {
    padding: .5em;
}


nav {
    display: flex;
    height: 100%;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: relative;
    top: 0em;
    left: 0em;
    max-width: 80px;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}

nav ul.open {
    display: block;
}

.logoanchor {
    grid-column: 2 / 3;
}

#hamburgerbtn {
    font-size: 4em;
    color:#80316A;
    background-color: #E3B445;
}

#homebanner img {
    width: 100%;
    height: 100%;
    z-index: 0;
    /* padding: 1em; */
}

#homebanner {
    position: relative;
}
#homebanner button {
    background-color: #E3B445;
    position: absolute;
    top: 1em;
    left: .5em;
    font-weight: bold;
    font-size: 1.5em;
}

#overview img {
    width: 90%;
    margin: .5em;
    padding: .3em;
    border: #E3B445 5px solid;
}

#overview p {
    padding: 1em;
    justify-self: center;
}

.mesatemple {
    text-align: center;
    border: #E3B445 solid;
    border-width: 10px;
    margin: 1em;

}

.mesatemple p {
    margin: .7em;
}

.weather {
    text-align: center;
}

.weather p {
    margin: .7em;
}

.amentities {
    text-align: center;
}

.mesatemple ul {
    list-style-type: none;
}

.amentities p {
    list-style-type: none;
    margin: .7em;
}

h2 a {
    color: #E3B445;
    display: block;
}

h2 {
    color: #E3B445;
    background-color: #80316A;
    font-weight: bolder;
    font-family: "Merriweather", serif;
}

h3 {
    color: #E3B445;
    background-color: #80316A;
    font-weight: bolder;
    font-family: "Merriweather", serif;
}

#color_scheme p {
    border: 1px solid black;
}

p {
    /* padding: 1em; */
    margin: auto;
    color: #80316A;
    /* font-weight: bold; */
    font-family: "Raleway", sans-serif;
    text-align: center;
}

label {
    display: block;
    margin: 1em;
    text-align: left;
    font-weight: bold;
    color: #80316A;
}

input {
    display: block;
    max-width: 100%;
}

#comments{
    display: block;
    /* margin: auto; */
}

textarea {
    display: block;
    max-width: 100%;
}

form {
    background-color: #A9A4A4;
    padding: 1em;
}

.myradio input {
    display: inline;
}

.myradio img {
    display: block;
}

.mysubmit {
    font-size: 1.2em;
    background-color: #E3B445;
    color: #80316A;
    font-weight: bolder;
    margin: .5em;
    padding: 0em;
}

#formtopimage {
    display: none;
}

#reservations {
    background-color: #A9A4A4;
}

#roomtype {
    background-color: #A9A4A4;
}

#cardview div {
    text-align: center;
    margin: .5em;
}
#cardview p {
    padding: .5
    em;
}

ul {
    list-style-type: none;
    margin: auto;
}

#servicesmain li {
    margin: .5em;
    font-weight: bold;
}

.services {
    text-align: center;
}

.reception {
    text-align: center;
}

.reception ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.reception p {
    padding: .5em;
}

.reception img {
    max-width: 80%;
}

.fulltimemissionary {
    text-align: center;
}

.fulltimemissionary p {
    padding: .5em;
}

#servicesmain ul {
    padding: 1em;
}

.mycheck {
    margin: auto;
    width: 30px;
    height: 30px;
}

#contactinfo {
    text-align: center;
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
}

#contactinfo p {
    margin: 1em;
    max-width: 100%;
}

footer {
    background-color: #80316A;
    text-align: center;
}
footer div{
    background-color: #80316A;
}

footer img {
    margin: 1em;
}

footer p {
    color: #E3B445;
}

#centerfooter a {
    color: #E3B445;
}

a:hover {
    opacity: .5;
}

#a {
    background-color: #E3B445;
}
#b {
    background-color: #F9F9FA;
}
#c {
    background-color: #80316A;
}
#d {
    background-color: #A9A4A4;
}
#e {
    background-color: #b4b269;
}
@media screen and (min-width: 40rem){
    main div {
        background-color: #F9F9FA;
    }
   
    header h1 {
        display: inline;
        margin: 1em 1em;
    }

    .logo {
        max-height: 105px;
    }

    #homemain {
        background-color: #F9F9FA;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #homebanner {
        grid-column: 1 / -1;
    }

    #overview {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    #overview p {
        padding: 1em;
    }

    .mesatemple {
        width: 80%;
        margin: auto;
        background-color: #b4b269;
        grid-column: 1 / -1;
    }

    #homebottommain {
        grid-column: 1 / -1;

    }

    #reservations {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }


    #formtopimage {
        display: block;
        grid-column: 2 / -1;
        grid-row: 1 / 7;
        margin: auto;
        max-width: 100%;
    }

    #roomtype {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .odd {
        grid-column: 1 / 2;
    }

    #servicesmain {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #servicesmain li {
        color: #80316A;
    }

    .services {
        margin: 1em;
    }

    .amentities {
        margin: 1em;
    }

    .reception {
        grid-column: 1 / -1;
    }

    .fulltimemissionary {
        grid-column: 1 / -1;
    }

    .suite {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .suite h3{
        grid-column: 1 / -1;
    }

    .suite img {
        margin: 1em;
    }

    #contactmain {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }

    #centerfooter {
        text-align: center;
    }
    #centerfooter p {
        margin: 1em;
    }

    #rightfooter img {
        margin: .2em;
    }
}
/* make this for screen view */
@media screen and (min-width: 78rem){

    .content {
        font-size: large;
        background-color: #b4b269;
        width: 80%;
        margin: auto;
    }

    header {
        grid-template-columns: 1fr 3fr 1fr;
    }

    .logoanchor {
        grid-column: 1 / 2;
        justify-self: right;
    }

    nav{
        grid-column: 3 / -1;
        /* position: absolute; */
        top: 2em;
        right: 10em;
        max-width: 100%;
    }

    nav li {
        padding: 0em;
    }

    nav button {
        display: none;
    }

    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        /* margin-left: 2vw; */
    }

    #overview img {
        width: auto;
    }

    .mesatemple {
        grid-column: 1 / 2;
    }

    .mesatemple img {
        width: 90%;
    }

    #homebottommain {
        grid-column: 2 / -1;

    }

    #cardview {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* #reservations {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    } */

    .first3 {
        grid-column: 1 / 2;
    }
/* 
    #formtopimage {
        grid-column: 2 / -1;
        grid-row: 1 / -1;
        margin: auto;
        display: block;
    } */

    form h3 {
        grid-column: 1/ -1;
    }

    .myradio {
        margin: .5em;
    }

    label {
        margin: .5em;
    }

    #servicesmain {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #servicesmain li {
        color: #80316A;
    }

    .services {
        margin: 1em;
    }

    .amentities {
        margin: 1em;
    }

    .reception {
        grid-column: 1 / -1;
    }

    .fulltimemissionary {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .fulltimemissionary h2 {
        grid-column: 1 / -1;
    }

    .fulltimemissionary p {
        grid-column: 1 /-1;
    }

    .fulltimemissionary div {
        display: block;
        /* grid-template-columns: 1fr 3fr; */
    }

    .suiteheader {
        margin: .5em;
    }

    .fulltimemissionary a {
        grid-column: 1 / -1;
    }

    
    
}