header{
    background-color: #303f9f;
    width: 100%;
}
#content{
    font-size: 14pt;
    /* background-color: #ffff72; */
    background-color: #ffeb3b;
    width: 80%;
}
nav {
    border: 5px black solid;
    background-color: #303f9f;
    grid-column-start: 1;
    grid-column-end: -1;
}
nav, ul{
    list-style: none;

}
nav,
li {
  text-align: center;
}
nav
a {
  color: #ffeb3b;
  font-weight: bold;
  font-size: 1.2em;
  background-color:#303f9f;
}
a.active {
    color: #000000;
}
h1{
    text-align: center;
}
hr{
    font-size: 5px;;
}
div #scenarios{
    border-top: #303f9f;
    
}

footer{
    color: #ffeb3b;
    background-color: #303f9f;
    border: 2px black solid;
    text-align: center;
}
@media screen and (min-width: 50em){
    
ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
}
#color-scheme-content{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}
}