nav{
    position: absolute;
    top: 40px;
    right: 5px;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}

/* .pageheader {
    float: inline-end;
} */
nav ul.open {
    display: block;
}
nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #000
}
nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #ffeb3b;
    border-top: 1px solid rgba(0,0,0,0.5);
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.2); 
    color:#fff;
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}
header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #303f9f;
}
.datediv{
    background-color: #666ad1;
    margin: 2em;
    grid-column: 1/-1;
}
header p{
    text-align: center;
}
main div{
    background-color: gray;
    margin: 2px;
}

footer {
    background-color: #303f9f;
}
@media screen and (min-width: 35rem){
nav button {
    display: none;

}

nav ul {
    display: flex;
    justify-content: flex-end;
    border-left: 1px solid rgba(0,0,0,0.3);
    margin-left: 2vw;

}
nav ul li a {
    border: none;
    border-right: 1px solid rgba(0,0,0,1);
    border-left: 1px solid rgba(0,0,0,1);
}

main{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
}
    

@media screen and (min-width: 64rem){
main{
    display: grid;
    grid-template-columns: 1fr  3fr  1fr;
}

nav ul li a {
    padding: .5rem 1rem
}

.herodiv {
    grid-row: 1 / 3;
  }


}