header {
    text-align: center;
    color: #667a72;
}

img {
    max-width: 70%;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #98afa9;
    box-shadow: 1em 1em 1em 1em;
}

section {
    border: 1px solid black;
    background-color: #667a72;
    margin: .5em;
    text-align: center;
}


@media only screen and (max-width: 1000px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .cards {
        grid-template-columns: 1fr;
    }
}